<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <table>
      <tr>
        <td>
          NodeJS - Reset Password
          <br />
          <br />
          <div style="border-top:3px solid red"> </div>
          <span style="font-family:Arial;font-size:10pt">
            Hello <b>{UserName}</b>,<br /><br />
            You have requested to reset your password for NodeJS on {date}.
            <br /><br />
            You can login using temporary password mentioned below then reset your new password.
            <br />
            Username: <b> Your registered email id</b>
            <br>Password: <b>{password}</b>
            <br /><br />
            Thanks<br />
            NodeJS
          </span>
        </td>
      </tr>
    </table>
</body>

</html>
